* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  color: #333333;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  background-color: #4AA3F2;
  color: white;
  text-align: center;
}

header>.fa-cart-shopping{
  position: relative;
 
}

.total-productos-carro{
  position: absolute;
  left: 8px;
  padding: .5em;
  min-width: 15px;
  font-size: .8rem;
  font-weight: 600;
  color: red;
  z-index: 5;
}

main{
  background-image: url('../img/fondo-mid.jpg') ;
  background-color: rgba(0, 0, 0, .8);
  background-blend-mode: multiply;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 1em;
}

.productos-galeria{
 display: flex;
flex-wrap: wrap; 
  gap: 2em;
  margin: 0 auto;
  width: 90%;
  padding: 1em;
}

.card {

  width: clamp(150px, 22vw, 200px);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  border: solid 2px #4AA3F2;
  background-color: #F2F2F2;
  border-radius: 5px;
}

.card-img-top {
  width: 40%;
  margin: 10px auto;
}

.card-body{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.carro-compras {
  display: flex;
  flex-direction: column;
  border: solid 1px #4AA3F2;
  margin-top: 4em;
  z-index: 10;
  border-radius: 10px;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  right: 0;
  width: 80%;
  height: 80%;
  transform: translateX(+100%);
  transition: transform 500ms ease-in-out;
  padding: 1em;
}

.carro-activo{
  transform: translateX(0);
}
.carro-header{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
}
.carro-header>h2{
  grid-column: 2 / 3;
  justify-self: center;
}

.carro-header>i{
  font-size: 1.5rem;
  color: #4AA3F2;
  grid-column: 3 / 4;
  justify-self: end;
 
  
  
}

.contenedor-productos-carro{
  overflow: scroll;
  margin: .5em auto;
  border-top: solid 2px #4AA3F2;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.producto-carro{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
  gap: .5em;
  border-bottom: solid 2px #4AA3F2;
  padding: 1em;
}

.producto-carro:last-of-type{
  border-bottom: none;
}

h4{
  grid-column: 1 / -1;
  justify-self: center;
}

.producto-carro>img{
  width: clamp(50px, 10vw, 100px);
}

.producto-carro>input{
  width: 50px;
  padding: .3em;
}

.contenedor-precio {
  border: solid 2px #4AA3F2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1em;
  margin-top: auto;
  border-radius: 5px;
  gap: 1em;

}

.contenedor-precio>p{
  font-size: 1.2rem;
  font-weight: 600;
}
p.total-carro{
  font-size: 1.4rem;
}


.btn-finalizar{
  margin-left: auto;
  padding: .5em 1em;
  background-color: #9C0D38;
  color: #F2F2F2;
  font-weight: 600;
  border: none;
  border-radius: 5px;

}


.btn-agregar {
  border: none;
  background-color: white;
  color: #4AA3F2;
 
  font-size: 1.5rem;
}

.btn-agregar :hover {
  color: #0e1896;
  transform: scale(1.2);
}

.card-text-precio {
  font-weight: 600;
 
  font-size: 1.1rem;
}





.btn-eliminar {
  border: none;
  background-color: white;
  color: #9C0D38;
  font-size: 1.2rem;
}

.btn-eliminar :hover {
  color: #581845;
  transform: scale(1.2);
}





