* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  background-color: #4AA3F2;
  color: white;
  text-align: center;
}

header>.fa-cart-shopping{
  position: relative;
 
}

.total-carrito{
  position: absolute;
  left: 10px;
  top: 5px;
  min-width: 15px;
  font-size: .8rem;
  color: red;
  z-index: 5;
}

main{
  background-image: url('../img/fondo-mid.jpg') ;
  background-color: rgba(0, 0, 0, .8);
  background-blend-mode: multiply;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 1em;
}

.productos-galeria{
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  margin: 0 auto;
  width: 90%;
  padding: 1em;
}

.card {
  /* width: 200px;
  height: 220px;
  margin-top: 20px;
  padding: 10px;
  text-align: center;
  border: solid 1px #4AA3F2;
  display: inline-block;
  vertical-align: bottom; */
  width: clamp(200px, 15vw, 300px);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  border: solid 2px #4AA3F2;
}

.card-img-top {
  width: 40%;
  margin: 10px auto;
}

.card-body{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.carro-compras {
  display: flex;
  flex-direction: column;
  border: solid 1px #4AA3F2;
  margin-top: 4em;
  z-index: 10;
  border-radius: 10px;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  right: 0;
  width: 80%;
  height: 80%;
  transform: translateX(+100%);
  transition: transform 500ms ease-in-out;
  padding: 1em;


}

.carrito-activo{
  transform: translateX(0);
}

.productos{
  overflow: scroll;
  margin: .5em auto;
  border-top: solid 2px #4AA3F2;
}

.contenedor-precio {
  border: solid 1px red;
  display: flex;
  align-items: center;
  padding: .5em;
  margin-top: auto;
  border-radius: 10px;
}


.contenedor-carrito h2 {
  text-align: center;
}
.contenedor-carrito>i.fa-x{
 margin: -1em .5em 0 auto;
 color: #4AA3F2;
 font-weight: 600;
 
 

}



.btn-agregar {
  border: none;
  background-color: white;
  color: #4AA3F2;
 /*  position: absolute;
  bottom: 10px;
  left: 90px; */
  font-size: 1.5rem;
}

.btn-agregar :hover {
  color: #0e1896;
  transform: scale(1.2);
}

.card-text-precio {
  font-weight: 600;
 /*  position: absolute;
  bottom: 30px;
  left: 70px; */
  font-size: 1.1rem;
}


  /* display: flex;
  align-items: center;
  justify-content: center; */


.btn-eliminar {
  border: none;
  background-color: white;
  color: red;
}

.btn-eliminar :hover {
  color: #581845;
  transform: scale(1.2);
}

.col-6 img {
  width: 30%;
}

.col-4 input {
  width: 40px;
}

#elcarrito {
  width: 80%;
}

/* .shoppingCartItemTitle {
  position: absolute;
  left: 80px;
} */

#btn-finalizar {
  margin-left: auto;
  border-radius: 8px;
  background-color: #4AA3F2;
  color: white;
  padding: 10px;
  border: none;
  font-size: 1rem;
}

#btn-finalizar :hover {
  background-color: #0e1896;
  color: white;
}


